# 'atom-workspace':
#   'ctrl-o c': 'rails-finder:toggle-controller'
#   'ctrl-o m': 'rails-finder:toggle-model'
#   'ctrl-o v': 'rails-finder:toggle-view'
#   'ctrl-o h': 'rails-finder:toggle-helper'
#   'ctrl-o i': 'rails-finder:toggle-mailer'
#   'ctrl-o s': 'rails-finder:toggle-spec'
#   'ctrl-o l': 'rails-finder:toggle-lib'
#   'ctrl-o a': 'rails-finder:toggle-asset'
#   'ctrl-o o': 'rails-finder:toggle-config'
#   'ctrl-o d': 'rails-finder:toggle-db'
#   'ctrl-o g': 'rails-finder:toggle-log'
#   'ctrl-o r': 'rails-finder:toggle-root'
